*{
    padding: 0;
    margin: 0;
}
html{
    font-size:62.5%;
}
@media screen and (min-width:320px) and (max-width:349px) {
    html{font-size:11px !important;}
}
@media screen and (min-width:350px) and (max-width:399px) {
    html{font-size:12px !important;}
}
@media screen and (min-width:400px) and (max-width:499px) {
    html{font-size:13px !important;}
}
@media screen and (min-width:500px) and (max-width:599px) {
    html{font-size:13px !important;}
}
@media screen and (min-width:600px) and (max-width:800px) {
    html{font-size:18px !important;}
}
ul,li{
    list-style: none;
}
body{
    position: relative;
}
.footer-btn button{
}
.div-top{
    width: 100%;
    margin-bottom:-5px;
}
.div-top img{
    width: 100%;
    height: auto;
}
.game-des{
    width: 100%;
}
.game-des-icon1{
    position: absolute;
    left: 0;
    left: 50%;
    transform: translate3d(-50%,0,0);
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -o-transform: translate3d(-50%,0,0);
    width:25%;
    height: auto;
}
.game-des-img{
    width: 100%;
    height: auto;
}
.div-bottom{
    width: 100%;
    margin-top: -5px;
    margin-bottom:5rem;
}
.div-bottom img{
    width: 100%;
    height: auto;
}
.footer-btn{
    position:fixed;
    bottom:0;
    background: gray;
    margin-top: -5px;
    width: 100%;

}
.footer-btn img{
    width: 100%;
    height: auto;
}
.ml-bg3 {/*loading用*/
    background: rgba(0, 0, 0, 0.9);
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    position: fixed;
    z-index:9;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: block;
}
/*加载页面时的loading*/
.ml-startloadimg,.ml-startloadfont {
    position: fixed;
    z-index: 10;
    left: 50%;
    width: 50px;
}
.ml-startloadfont {
    top: 50%;
    width: 200px;
    margin-left: -96px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.ml-startloadimg {
    top: 50%;
    margin: -70px 0 0 -25px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container img{
    width: 96%;
    height: auto;
    overflow-x:hidden;
}
 /* 模态框*/ 
 .xfkContant{
    position: fixed;
    bottom: -800px;
    width: 100%;
    height:auto;
    padding: 0 5%;
    background: url(images/backgroundImg.png) no-repeat; 
    background-size: 100% 100%;
    padding: 3% 3%;
    z-index: 10;
    transform: translate3d(0,50%,0);
 }