html,body{
    background: #fff;
}
img{
    width: 100%;
    display: block;
}
body{
    padding-bottom: 5rem;
}
.package{
    width: 100%;
    position: relative;
}
.package .package-background{
    width: 100%;
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
}
.package .pack{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2%;
    color: #fff;
    text-align: center;
}
.package .pack .img{
    width: 25%;
    display: inline-block;
    margin-top:7%;

}
.package .pack .game-name{
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #333;
}
.package .pack .game-contenter {
    width:100%;
}
.package .pack .game-contenter span{
    padding: 0.5rem;
    font-weight: 300;
}
.down-btn{
    padding: 2%;
    padding-top: 3%;
    text-align: center;
    line-height: 1.4;
}
.down-btn .back.active{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.down-btn i{
    font-size: 1.2rem;
}
.line{
    border-color: #e3e3e3 !important;
}
.down-list{
    overflow: hidden;
    background: #f7f7f7;
    box-shadow: 0px 0px 30px #c5c5c5 inset;
    padding-left:5%;
    padding-right:5%;
    display: none;
}

.down-list .group{
    overflow: hidden;
}
.down-list .group a {
    display: block;
    padding:4% 0%;
    border-bottom: 1px solid #e4e4e4;
}
.down-list .group a:last-child{
    margin-bottom:4%;
}
.down-list h3{
    padding-top:4%;
    padding-bottom:4%;
    font-size: 1.8rem;
    font-weight: 600;
    color:#333;
    letter-spacing: 1px;
}
.down-list .group .game-img {
    display: inline-block;
    width:17%;
    vertical-align: middle;
    margin-left: 6%;
}
.down-list .group .game-rule {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    width:48%;
    height: 100%;
    overflow: hidden;
}
.down-list .group .game-rule table{
    height: 100%;
}
.group .details {
    color:#797979;
    margin-left: 2%;
}
.group .top {
    top:0;
}
.group .game-rule .g-name {
    color:#333;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
.game-rule p {
    color:#aaaaaa;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.down-list .group .game{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-right: 5%;
    text-align: center;
    border-bottom: none ;
    padding-bottom: 0;
}
.down-list .group .game p{
    margin-top: .5rem;
    font-size: 1rem;
    color: #d5d5d5;
}

.download-opacity{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6.5rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,.6);
}
.download-opacity .btn{
    height: 100%;
    width: 98%;
    border-radius: 12px;
    margin-left: 1%;
    background: #0da81e;
    letter-spacing: 4px;
    font-weight: bold;
    line-height: 5.5rem;
    box-shadow: 1px 1px 1px #333;
}
.download-opacity .btn a{
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #333;
}