html,body{
    background: #fff;
}
.play{
    background: #fff;
    padding: 4% 0;
}
.play .content,.play .download{
    display: inline-block;
    vertical-align: middle;
}
.play .img{
    width: 22%;
    height: auto;
    padding:0 2%;
    vertical-align: top;
    display: inline-block;
}
.play .img img{
    width: 100%;
}
.play .content{
    width: 57%;
    line-height: 1.6rem;
}
.play .content h4{
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
}
.play .content h4 a{
    color: inherit;
}
.play .content p{
    font-size: 1.2rem;
}
.play .content p a{
    color: inherit;
}
.play .download{
    padding: 0 2%;
}
.play .download i{
    font-size: 32px;
    color: #00bcd7;
}
.project.scroll-list{
    margin: 0;
    padding-bottom: 5%;

}
.project.scroll-list .title{
    margin: 5% 3%;
}
.scroll-list .scroll-outer{
    width: 100%;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

}
.scroll-list .scroll-outer::-webkit-scrollbar-thumb,
.scroll-list .scroll-outer::-webkit-scrollbar{
    color: transparent;
    background: transparent;
    width: 0;
    height: 0;
    opacity: 0;
}

.scroll-list .scroll-outer ul{
    overflow: hidden;
    padding-right: 1rem;
}
.scroll-list .scroll-outer ul li{
    float: left;
    padding-left: 1rem;
    box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 375px){

    .scroll-list .scroll-outer ul{
        padding-right: 1.5rem;
    }
    .scroll-list .scroll-outer ul li{
        padding-left: 1.5rem;
    }
}
.scroll-list .scroll-outer ul li a{
    width: 100%;
    display: inline-block;
}
.scroll-list .scroll-outer ul li p{
    text-align: center;
    margin-top: .5rem;
    font-size: 1.2rem;
}
.scroll-list .scroll-outer ul li a img{
    display: block;
    width: 100%;
}
.line{
    width: 96%;
    margin-left: 2%;
    border-bottom: 1px solid #e3e3e3;
}
.project.scroll-list.game-funny{
    padding: 8% 0;
}
.chess-list {
    padding: 0 4%;
}
.chess-list>div{
    display: block;
    padding:1rem 0rem;
    border-bottom: 1px solid #e7e7e7;
}
.chess-list a {
    /*display: block;*/
    /*padding:1rem 0rem;*/
    /*border-bottom: 1px solid #e7e7e7;*/
    outline: none;
}
.chess-list a:active {
    outline: none;
}
.chess-img {
    display: inline-block;
    width:20%;
    vertical-align: middle;
}
.chess-img img {
    width:100%;
}
.grup-title {
    display: inline-block;
    vertical-align: middle;
    margin-left:4%;
    width:60%;
}
.grup-title h3 {
    font-size: 1.6rem;
    color:#000;
    letter-spacing: 2px;
}
.grup-title p {
    font-size:1.2rem;
    color:#696969;
    letter-spacing: 1px;
}
.download {
    width: 11%;
    vertical-align: middle;
    display: inline-block;
}
.download-icon {
    font-size: 3.5rem;
    color:#45a212;
}

