@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1499179769054'); /* IE9*/
    src: url('iconfont.eot?t=1499179769054#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1499179769054') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1499179769054') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1499179769054#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


ul,ul li,p,div,span,body,html,h1,h2,h3,h4,h5,i{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html{
    font-size: 100%;

}
html,body{
    width: 100%;
    font-size: 62.5%;
    color: #626262;
    background-color: #eef2f3;
    font-family: "Microsoft YaHei";

}
body{
    font-size:1.2rem;
}
a{
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background: none;
}

.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}

.color{
    color: #8f9090;
}
.color-red,.color-red a{
    color: #ff4242;
}
.color-green,.color-green a{
    color: #25bb3b;
}
.color-blue,.color-blue a{
    color: #0000ff ;
}
.text-indent{
    text-indent: 16px;
}
h4.color-green{
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 1.3% 2%;
    font-size: 1.5rem;
    border-radius: 5px 5px 0 0;
}
h4.color-green i{
    font-size: 1.5rem;
    font-weight: bold;
}
h4.color-green span{
    margin-left: .7rem;
    color: #25bb3b;
    text-indent: 2px;

}
h4.color-green:before{
    content: '';
    display: inline-block;
    width: .3rem;
    height: 46%;
    position: absolute;
    top:30%;
    background: #25bb3b;
}
h4.color-green.no:before{
    display: none;
}
/*h4.color-green a{*/
    /*padding-left: 2%;*/
/*}*/
.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
.clear{
    overflow: hidden;
    zoom: 1;
    clear: both;

}
.marginL{
    margin-left: 0;
}
.nav{
    padding: 7px 0;
    zoom: 1;
    background: #fff;
    overflow: hidden;
}

.nav a{
    width: 24%;
    margin:0 3%;
    float: left;
}
.nav  img{
    width: 100%;
}
.nav .search{
    width: 52%;
    height: inherit;
    margin:0 1.5%;
    vertical-align: middle;
    display: none;
}
.nav .search .outer{
    height: 100%;
    background: #fff;
    border-radius: 30px;
    position: relative;
}
.nav .search .outer input{
    width: 80%;
    margin-left: 5%;
    border: none;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.2rem;
    vertical-align: middle;
    color: #666;
}
.nav .search .outer i{
    vertical-align: middle;
    color: #d7d7d7;

}
.nav .more{
    width: 11%;
    margin:0 2%;
    text-align: center;
    float: right;
    padding-bottom: 1px;
    height: 100%;
    position: relative;
    margin-top: 1.5%;
}
.nav .more i{
    font-size: 2.3rem;
    /*position: absolute;*/
    /*top:50%;*/
    /*left: 50%;*/
    margin-left: -12px;
    margin-top: -12px;
    color: #d7d7d7;
    line-height: 1.2;
}
.select{
    position: relative;
}
.display-select{
    position: absolute;
    top:0;
    right:3%;
    z-index: 10;
    background: #fff;
    display: none;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #eee;
}
.display-select ul li{
    text-align: center;
    padding:.725rem 2.1rem;
    border-top: 1px solid #d7d7d7;
}
.display-select a{
    width: auto;
    display: inherit;
    vertical-align: inherit;
    margin:0;
    float: none;

}
.display-select ul li a span,.display-select ul li a i{
    color: #626262;
    font-size: 1.6rem;
}
.display-select ul li.first{
    border: none;
}

.banner{
    width:100%;
    overflow: hidden;
    position: relative;
}
.banner .inner{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
}
.banner .banner-prevCell,.banner .banner-nextCell{
    position: absolute;
    top:50%;
    height: 5.5rem;
    margin-top: -2.75rem;
    z-index: 500;
    font-size: 5rem;
    text-align: center;
    padding:0 .5rem;
    line-height: 3rem;
    font-weight: bold;
    color: #999;
    border-radius: 5px;
    background: #fff;
    opacity: .5;

}
.banner .banner-prevCell{
    left: 15px;
}
.banner .banner-nextCell{
    right: 15px;
}
.banner .banner-item-outer{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.banner .banner-item-outer span.touchslider-nav-item{
    margin: 2%;
    width: 1rem;
    height: 1rem;
    background: #fff;
    opacity: .6;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.banner .banner-item-outer span.touchslider-nav-item.on{
    width: 1.3rem;
    height: 1.3rem;
    opacity: 1;
}
.rote-left{
    width: .7rem;
    height: .7rem;
    background: transparent;
    border:1px solid #9c9c9c;
    border-right: none;
    border-bottom: none;
    transform: rotate(-45deg);
    display: inline-block;
}
.rote-left{
    width: .7rem;
    height: .7rem;
    background: transparent;
    border:1px solid #9c9c9c;
    border-right: none;
    border-bottom: none;
    transform: rotate(135deg);
    display: inline-block;
    position: relative;
    top:-1px;

}
.project{
    margin: 0 3%;
    background: transparent;
    margin-bottom: 3%;
}
.project .title{
    padding-left: 2%;
    color: #333;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: 5% 0;
    margin-bottom: 0;
    font-weight: 600;
}

.project .title .little-title{
    font-weight: normal;
    color: #696969;
    font-size: 1.4rem ;
    float: right;
    margin-top: .2rem;
}

.notice{
    padding: 1%;

}
.notice.white{
    background: #fff;
}
.notice div .icon,.notice div .text{
    display: inline-block;
    line-height: 1.8rem;
}
.notice div .icon{
    /*margin:0 1.5%;*/
    margin-right: 1%;
    vertical-align: middle;
}
.notice div .icon i{
    margin-top: 4px;
    display: inline-block;
}
.notice div .text{
    width: 91%;
    overflow: hidden;
    vertical-align: middle;
}
.notice div .text .tran{
    display: flex;
}
.notice div .text .light{
    margin-right: 20px;
    white-space: nowrap;
}

/* 娲诲姩鍒楄〃 */
.active_list{
    padding: 0 1.5%;
    padding-bottom: 3%;
    line-height: 1.2;
}
.active_list li{
    border: 1px solid #eee;
    background: #fff;
    padding: 1.5%;
    margin-top: 3%;
    box-shadow: 1px 1px 1px #eee;
    border-radius: 5px;
}
.active_list li img{
    width: 100%;
}
.active_list li .con{
    border-bottom: 1px solid #eee;
}
.active_list li p{
    padding: 1% 0;
    line-height: 1.3rem;
    color: #9c9c9c;
}
.active_list li p.title{
    font-weight: bold;
    color: #23C3DB;
}
.active_list li .look{
    margin-top: 2.5%;
    padding: 0 1%;

}
.active_list li .look a{
    color: #000;
    /*font-weight: bold;*/
}
/* 鍏憡 */
.notice-all{
    margin: 4.5% 1.5%;
}
.notice-all .note-content{
    width: 100%;
    background: #fff;
    padding:0 1%;
    padding-bottom: 5%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #eee;
}
/*.notice-all .note-content .content{*/
/*padding-top: 2%;*/
/*}*/
.notice-all .note-content .content .group{
    margin-top: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    line-height: 1.2;
}
.notice-all .note-content .content .group.new{
    border-bottom: 1px solid #eee;
    padding: 2.5% 2%;
    margin: 0;
}

.notice-all .note-content .content .group .label{
    /*width: 70px;*/
    /*vertical-align: top;*/
    color: #00bcd7;
    /*display: inline-block;*/

}
.notice-all .note-content .content .group .group-con{
    /*display: inline-block;*/
    /*width: 77%;*/
    /*vertical-align: top;*/
    color: #000; 
    line-height: 1.425;
    margin-top: -1px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    margin-left: .5rem;
}
.notice-all .note-content .content .group .group-con a{
    color: inherit;
}
.notice-all  .list{
    padding: 6% 0 4% 0;
    text-align: center;
    font-size: 1.2rem;

}
.notice-all  .list span {
    padding: 0 3%;
}
.notice-all  .list span a{
    color: #666;
    padding-bottom: 1%;
    display: inline-block;
}
.notice-all  .list span a.active{
    color: #00bcd7;
    border-bottom: 1px solid #00bcd7;
}
.page .color-blue{
    color: #23C3DB;
}

/* footer */
.footer{
    background: #011B49;
    padding: 5%;
    text-align: left;
    position: relative;
}
.footer .content{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.footer .content .i{
    width: 30%;
    margin-left: 35%;
    box-sizing: border-box;
    margin-bottom: 2%;

}
.footer .content .i img{
    width: 100%;
}

.footer .content p{
    color: #d7d7d7;
    line-height: 1.6rem;

}
.footer .icon{
    width: 18%;
    vertical-align: middle;
    display: inline-block;
    /*margin-left: 40%;*/
    /*margin-top: 1.5%;*/
}
.footer .content .icon img{
    width: 100%;
}
.footer .download-opacity{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50px;
    opacity: 0.2;
    background: #fff;
}
.footer .download{
    position: absolute;
    /*bottom: 0;*/
    left: 10%;
    width: 80%;
    height: 30px;
    bottom: 10px;
    background: #00bcd7;
}
.footer .download a{
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
}

.footer{
    box-sizing: border-box;
    background: #ececec;
    overflow: hidden;
}
.footer .content{

}
.footer .content p{
    text-align: left;
    color: #333;
}
/*.footer .icon{*/
    /*width: 18%;*/
/*}*/
.footer .icon img{
    width: 100%;
    display: block;
}

